* {
  font-family: arial;
}

a {
  color: black;
  text-decoration: none;
}

.button {
  padding: 6px;
  border: 2px solid black;
  margin-right: .75em;
}

.button:hover {
  box-shadow: 2px 2px turquoise;
}

nav {
  display: flex;
}

.home, .error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error_image {
  height: 60px;
  width: 60px;
  background-size: cover;
  background-image: url("../image/favicon.png");
  background-repeat: no-repeat;
}

.home nav {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin: 12px 0;
  justify-content: space-between;
  width: 190px;
}

.home nav a {
  text-align: center;
}

.portfolio_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: min-content;
}

.portfolio_page nav {
  align-self: flex-start;
}

.projects_container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  margin: 2rem;
  max-width: 500px;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.project_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  margin-bottom: 2rem;
  box-shadow: 6px 6px turquoise;
  padding: 1rem;
  hyphens: manual;
}

.project_box:hover {
  box-shadow: 6px 6px cyan;
}

.project_box .title {
  border-bottom: 2px solid turquoise;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

header .contact {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 1.25rem;
  margin-top: .5rem;
  padding: 6px;
  border: 2px solid black;
  box-shadow: 4px 4px magenta;
  justify-content: space-between;
  max-width: 220px;
  height: min-content;
}

header .contact p {
  margin: 0;
  margin-bottom: .75rem;
}

header .contact .links a{
 border-bottom: 2px solid transparent; 
 max-width: min-content;
 display: flex;
 align-items: center;
 display: flex;
 align-items: center;
}

.project p {
  display: inline;
  line-height: 22px;
}

.project a, .project a .highlight {
  border-bottom: 2px solid turquoise;
}

.project a:hover {
  border-bottom: 2px solid teal;
}

.project a .highlight:hover {
  border-bottom: 2px solid teal;
}

.project h4 {
  display: inline;
}

.projects .project {
  margin-bottom: 2rem;
}

header .contact .links a:hover {
  border-bottom: 2px solid deeppink;
}

header .contact .contact_image {
  width: 24px;
  height: 16px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact_image.envelope {
  background-image: url("../image/email.svg");
}

.contact_image.linkedin {
  background-image: url("../image/linkedin.svg");
}

.contact_image.github {
  background-image: url("../image/github.svg");
}

.name_block {
  border: 2px solid black;
  box-shadow: 4px 4px turquoise;
  padding: 6px;
  background-color: lightcyan;
  max-width: 220px;
  min-width: 170px;
  margin-right: 1.25rem;
}

.name_block h2 {
  margin: 0;
}

.name_block h4 {
  margin: 8px 0;
}

.main_header {
  width: 100%;
  display: flex;
  align-items: center;
}

.main_header .label {
  border: 2px solid black;
  display: inline-block;
  padding: 4px;
  box-shadow: 4px 4px turquoise;
  text-transform: uppercase;
}

.main_header .separator {
  display: none;
  width: 100%;
  border-top: 4px solid black;
  height: .75rem;
  margin: 0 1.25rem;
}


.highlight {
  padding: 2px;
  background-color: lightcyan;
  border: 2px solid lightcyan;
}

.major_highlight {
  border-bottom: 2px solid turquoise;
}

.employer_name {
  margin: 6px 0;
  display: inline-block;
  text-decoration: underline turquoise;
}

.name {
  color: black;
  padding: 6px;
  display: inline-block;
  background-color: aliceblue;
  box-shadow: 8px 8px turquoise;
}



@media (min-width: 360px) {
  .main_header .separator {
    display: initial;
  }
}

@media (min-width: 420px){
  .home nav {
    flex-direction: row;
    width: 160px;
    justify-content: space-between;
    height: min-content;
  }
}

@media (min-width: 560px){
  .portfolio_page {
    align-items: left;
    width: 500px;
  }
  
  .portfolio_page .projects_container {
    flex-direction: row;
  }
  header {
    flex-direction: row;
  }

  header .contact {
    flex-direction: row;
    max-width: 620px;
  }  
  
  header .contact p {
    margin-bottom: 0;
  }
}

@media (min-width: 780px){
  header .contact .links {
    display: flex;
    width: 390px;
    justify-content: space-between;
  }
}
