* {
  font-family: arial;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  height: 30px;
  margin: 12px 0;
}

.button {
  padding: 6px;
  border: 2px solid black;
}

.button:hover {
  box-shadow: 2px 2px turquoise;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.home nav {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

header .contact {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 1.25rem;
  margin-top: 1rem;
  padding: 6px;
  border: 2px solid black;
  box-shadow: 4px 4px magenta;
  justify-content: space-around;
  max-width: 220px;
  height: min-content;
}

header .contact a {
 border: 2px solid transparent; 
 max-width: min-content;
}

header .contact a:hover {
  border-bottom: 2px solid deeppink;
}

.name_block {
  border: 2px solid black;
  box-shadow: 4px 4px turquoise;
  padding: 6px;
  background-color: lightcyan;
  max-width: 220px;
  margin-right: 1.25rem;
}

.name_block h2 {
  margin: 0;
}

.name_block h4 {
  margin: 8px 0;
}

.main_header {
  width: 100%;
  display: flex;
  align-items: center;
}

.main_header .label {
  border: 2px solid black;
  display: inline-block;
  padding: 4px;
  box-shadow: 4px 4px turquoise;
  text-transform: uppercase;
}

.main_header .separator {
  display: none;
  width: 100%;
  border-top: 4px solid black;
  height: .75rem;
  margin: 0 1.25rem;
}


.highlight {
  padding: 2px;
  background-color: lightcyan;
  border: 2px solid lightcyan;
}

.major_highlight {
  border-bottom: 2px solid turquoise;
}

.employer_name {
  margin: 6px 0;
  display: inline-block;
  border-bottom: 2px solid turquoise;
}

.name {
  color: black;
  padding: 6px;
  display: inline-block;
  background-color: aliceblue;
  box-shadow: 8px 8px turquoise;
}

@media (min-width: 360px) {
  .home nav {
    flex-direction: row;
    width: 165px;
    justify-content: space-between;
  }

  .main_header .separator {
    display: initial;
  }

  header {
    flex-direction: row;
  }

  header .contact {
    flex-direction: row;
    max-width: unset;
  }
}
